{% load  static%}
<!DOCTYPE HTML>
<html>

<head>
<title>Resume Ranking</title>
<link rel="stylesheet" type="text/css" href="{% static '/style/style.css'%}" title="style" />
</head>
<body>
	<div id="main">
		<div id="header">
			<div id="logo">
				<div id="logo_text">
					<!-- class="logo_colour", allows you to change the colour of the text -->
					<h3>
						<center><a href="#"><font color="white" size="5">Resume Ranking</font></a></center>
					</h3>
					<br/><br/>
				</div>
			</div>
			<div id="menubar">
				<ul id="menu">
                    <li> <a href="/getnotifications">View Jobs</a></li>
                    <li><a href="/viewprofile">Profile</a></li>
                    <li><a href="/logout">logout</a></li>
				</ul>
			</div>
		</div>
		<div id="content_header"></div>
		<div id="site_content">

            <div class="sidebar">

                <h3>Change Photo</h3>

                <!-- insert your sidebar items here -->
                 <form method="post" action="/updatepic/" id="search_form" enctype="multipart/form-data">
                     {% csrf_token %}
                  <input type="file" name="pic" value="Select Photo" required/> <br/> <br/> <input type="submit" value="Change" />
                 </form>

                <br/>

                <img src="{% static ''%}{{ profile.pic }}" height="200" width="200">
                <a href="/download?email={{ profile.email }}" target="_blank">download resume</a>

              </div>

			<div id="content">

                <center><h1>Update Profile {{message}}</h1></center>

				<form name="form" action="/updateprofile/" method="post">

                    {% csrf_token %}

                    <div class="form_settings">

                        <font color="red" size="4"> Personal Details </font> <br/><br/>
                        <p>
							<span>Password :</span><input class="contact" type="password" name="password" value={{ profile.password }} required/>
						</p>

						<p>
							<span>Mobile :</span><input class="contact" type="number" name="mobile" value={{ profile.mobile }} required />
						</p>

						<p>
							<span>Address :</span><textarea rows="" cols="" name="address" required>{{ profile.address }}</textarea>
						</p>

                        <p>
							<span>Languages Speak :</span><input class="contact" type="text" name="languages" required value="{{ profile.languages }}"/>
						</p>

                        <br/><hr/> <font color="red" size="4"> Academic Summary </font> <br/><br/>
                        <p>
							<span>Degree Percentage:</span><input class="contact" type="text" name="degreepercentage" value="{{ profile.degreepercentage }}" required/>
						</p>

						<p>
							<span>Degree Branch :</span><input class="contact" type="text" name="degreebranch" value="{{ profile.degreebranch }}" required/>
						</p>

                        <p>
							<span>Intermediate Percentage:</span><input class="contact" type="text" name="intermediatepercentage" value="{{ profile.intermediatepercentage}}" required/>
						</p>

						<p>
							<span>Intermediate Branch :</span><input class="contact" type="text" name="intermediatebranch" value="{{ profile.intermediatebranch }}" required/>
						</p>

						<p>
							<span>SSC Percentage :</span><input class="contact" type="text" name="sscpercentage" value="{{ profile.sscpercentage }}" required/>
						</p>

                        <br/><hr/> <font color="red" size="4"> Key Strengths </font> <br/><br/>

                        <p>
                            <span>Career Objective :</span><textarea class="contact" rows="" cols="" name="careerobjective">{{ profile.careerobjective }}</textarea>
						</p>

                        <p>
                            <span>Skills :</span><textarea class="contact" rows="" cols="" name="skills">{{ profile.skills }}</textarea>
						</p>

                        <p>
                            <span>Personal Strengths :</span><textarea class="contact" rows="" cols="" name="personalstrengths">{{ profile.personalstrengths }}</textarea>
						</p>

                         <p>
                            <span>Professional Strengths :</span><textarea class="contact" rows="" cols="" name="professionalstrengths">{{ profile.professionalstrengths }}</textarea>
						</p>

                        <br/><hr/> <font color="red" size="4"> Projects Handled </font> <br/><br/>

                        <p>
                            <span>Project Title :</span><textarea class="contact" rows="" cols="" name="projecttitle">{{ profile.projecttitle }}</textarea>
						</p>

                        <p>
                            <span>Project Description :</span><textarea class="contact" rows="" cols="" name="projectdescription">{{ profile.projectdescription }}</textarea>
						</p>

                        <br/><hr/> <font color="red" size="4"> Experience Info </font> <br/><br/>

                        <p>
							<span>Years of Experience :</span><input class="contact" type="text" name="yearofExperience" value="{{ profile.yearofExperience }}" required/>
						</p>

						<p>
							<span>Current Working Company :</span><input class="contact" type="text" name="currentworkingcompany" value="{{ profile.currentworkingcompany }}" required/>
						</p>

						<p style="padding-top: 15px">
							<span>&nbsp;</span><input class="submit" type="submit"
								name="contact_submitted" value="Update Info" />
						</p>

					</div>
				</form>

			</div>
		</div>
	</div>
</body>
</html>